xformers==0.0.28
torch==2.4.1
torchvision==0.19.1
plyfile
numpy==1.26.4
scipy==1.16.3
open3d
tqdm
opencv-python
torchmetrics
accelerate>=0.22.0
diffusers>=0.25.0
transformers>=4.32.1
datasets
omegaconf
wandb
tabulate
tensorboard